bedrock-agentcore
bedrock-agentcore-starter-toolkit
strands-agents[otel,openai,anthropic]
aws-bedrock-token-generator
strands-agents-tools
aws-opentelemetry-distro
openinference-instrumentation-strands-agents
opentelemetry-exporter-otlp-proto-grpc
psutil
httpx
beautifulsoup4
lxml
